<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Transaction</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">transaction</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Transaction Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/transaction/edit/<%= transaction._id %>?_method=PUT" method="post">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="coinQuantity">Nama Pemilik</label>
                      <input type="text" value="<%= transaction.name %>" class="form-control" id="name" name="name" placeholder="Enter card holder name">
                    </div>
                    <div class="form-group">
                      <label for="coinQuantity">Nama Transaction</label>
                      <input type="text" value="<%= transaction.nameTransaction %>" class="form-control" id="nameTransaction" name="nameTransaction" placeholder="Enter transaction name">
                    </div>
                    <div class="form-group">
                      <label for="coinQuantity">Nomor Rekening</label>
                      <input type="text" value="<%= transaction.noRekening %>" class="form-control" id="noRekening" name="noRekening" placeholder="Enter card number">
                    </div>
                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </form>
              </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <%- include("../../partials/footer") %> 
  <%- include("../../partials/script") %> 
