<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>No</th>
      <th>Nama Game</th>
      <th>Item</th>
      <th>Total Harga</th>
      <th>Status</th>
      <th>Nama player</th>
      <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
    <% transaction.forEach((item,i) => { i++ %>
        <tr>
            <td><%= i++ %> </td>
          <td class="d-flex align-content-center align-items-center">
             <div>
                  <img width="48px" src="http://localhost:3000/uploads/<%= item.historyVoucherTopup.thumbnail ?? '-' %> " alt="">
             </div>
              <div class="ml-2">
                <%= item?.historyVoucherTopup?.gameName %>
                <br/>
              <span class="text-sm text-gray"><%= item?.historyVoucherTopup?.category %></span>
              </div>
          </td>
          <td>
            <span class="text-bold"><%= item?.historyVoucherTopup?.coinQuantity %></span>
            <span class="text-sm text-gray">(<%= item?.historyVoucherTopup?.coinName %>)</span>
          </td>
          <td><%= item?.value %></td>
          <td>
            <% if(item.status === 'pending') { %>
              <span class="badge badge-warning">
                <%= item.status %> 
              </span>
             <% } else if(item.status === 'success') { %>
              <span class="badge badge-success">
                <%= item.status %>
              </span>
             <% } else { %>
              <span class="badge badge-danger">
                <%= item.status %>
              </span>
             <%} %>
          </td>
          <td>
            <%= item.player.name ?? '-' %> 
          </td>
          <td>
           <% if (item.status==='pending') { %>
            <form action="/transaction/status/<%= item._id %>?status=failed&_method=PUT" class="d-inline" method="post">
              <button type="submit" class="btn btn-danger badge" role="button" onclick="return confirm('Anda Yakin?')">
                <i class="nav-icon fas fa-times-circle"></i>
                Tolak
              </button>
            </form>
            <form action="/transaction/status/<%= item._id %>?status=success&_method=PUT" class="d-inline" method="post">
              <button type="submit" class="btn btn-info badge" role="button" onclick="return confirm('Anda Yakin?')">
                <i class="nav-icon fas fa-check-circle"></i>
                Terima
              </button>
            </form>
           <% } else { %>
            <i class="nav-icon fas fa-check-circle text-gray"></i>
            <% } %>
          </td>
        </tr>
    <% }) %>
  </table>